################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RobotDrive/.vs/RobotDrive
/RobotDrive/x64/Debug
/RobotDrive/RobotDrive/x64/Debug
